html, body {
	background-color: #00AAFF;
	font-family: 'Noto Sans', sans-serif;
	height: 100%;
	width: 100%;
}

.topContainer, .middleContainer {
	display: flex;
}

.topcontainer{
             float: right;
}
.middleContainer {
	height: 100%;
}
.topcontainer{
	     float: right;
}	

.column1, .column2, .column3 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
}

.column2 {
	flex: 1;
}

article {
	background-color: #FFFAFF;
	border-radius: 0.7em;
	padding: 20px;
	margin: 20px;
}

.leaderboardBox {
	flex: 1;
}

.globalLeaderboardBox,
.timerBox,
.chat {
	flex: 2;
}

.timer{
      width: 25px;
      height: 25px;
}
.roundBox {
	flex: 7;
}

.leaderboardBox td {
	border-bottom: 1px solid black;
	justify-content: space-evenly;
}
